<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- BLOQUE DE TITULO -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- LLAMAMOS UNA HOJA DE ESTILOS ESTÁTICA -->
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
</head>
<body>
  <div>
    <nav class="#f06292 pink lighten-2">
      <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Te va gustar</a>
          <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('public.index') }}">Home</a></li>
              <li>
                  <a href="#" class="dropdown-trigger" data-target="id_drop">
                      Colección
                  <i class="material-icons right">arrow_drop_down</i>
                  </a>
              </li>
              {% if current_user.is_anonymous %}
                  <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  <li> | </li>
                  <li><a href="{{ url_for('auth.show_signup_form') }}">Registrar</a></li>
              {% else %}
                  {% if current_user.is_admin %}
                      <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                      <li class="pad"> | </li>
                  {% endif %}
                  <li class="pad">Bienvenido {{ current_user.name }}</li>
                  <li> | </li>
                  <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              {% endif %}
          </ul>
      </div>
  </nav>
  <nav class="#f06292 pink lighten-2">
      <div class="nav-wrapper container">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
  </nav>
  <ul id="id_drop" class="dropdown-content">
      <li><a href="#">Destacados</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Nuevo</a></li>
  </ul>

  </div>
  
    {% block content %}{% endblock %} 
  

<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Sociales</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">
                    <img src="{{ url_for('static',filename='images/f.jpg') }}" class="" alt="">
                    Seguinos en Facebook
                </a></li>
                <li><a class="grey-text text-lighten-3" href="#!">
                    <img src="{{ url_for('static',filename='images/ins.jpg') }}" class="" alt="">
                    Seguinos en Instagram
                </a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
</footer>
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script>
  
    document.addEventListener('DOMContentLoaded', function() {
      // var elems = document.querySelectorAll('.sidenav');
      // var instances = M.Sidenav.init(elems);
      M.AutoInit();
    });
      
  </script>
</body>
</html>