<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- BLOQUE DE TITULO -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- LLAMAMOS UNA HOJA DE ESTILOS ESTÁTICA -->
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
</head>
<body>
    <nav class="#f06292 pink lighten-2">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Te va gustar</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('public.index') }}">Home</a></li>
                <li>
                    <a href="#" class="dropdown-trigger" data-target="id_drop">
                        Colección
                    <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li> | </li>
                    <li><a href="{{ url_for('auth.show_signup_form') }}">Registrar</a></li>
                {% else %}
                    {% if current_user.is_admin %}
                    <li class="pad">Bienvenido {{ current_user.name }}</li>

                        <li> | </li>
                        <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                    {% endif %}
                    <li> | </li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <nav class="#f06292 pink lighten-2">
        <div class="nav-wrapper container">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
    </nav>
    <ul id="id_drop" class="dropdown-content">
        <li><a href="#">Destacados</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Nuevo</a></li>
    </ul>
<!-- BLOQUE DE CONTENIDO -->
{% block content %}{% endblock %}
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script>
  
    document.addEventListener('DOMContentLoaded', function() {
      // var elems = document.querySelectorAll('.sidenav');
      // var instances = M.Sidenav.init(elems);
      M.AutoInit();
    });
      
</script>
</body>
</html>