{% extends "base_template.html" %}

{% block title %}
    Miniblog | Admin
{% endblock %}

{% block content %}

<ul>
    <a href="{{ url_for('admin.add_Product') }}">Agregar Producto</a>
    
</ul>
<ul>
    <a href="{{ url_for('admin.add_Category') }}">Agregar categoria</a>
</ul>
<ul>
    <a href="{{ url_for('admin.add_Color') }}">Agregar color</a>
</ul>
<ul>
    <a href="{{ url_for('admin.add_Talle') }}">Agregar talle</a>
</ul>
<ul>
    <a href="{{ url_for('admin.add_DetalleProducto') }}">Agregar detalle</a>
</ul>

{{posts}}
{% endblock %}