<!-- CARGAMOS COMO EXTEND LA PLANTILLA BASE -->
{% extends "base_template.html" %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE TITULO -->
{% block title %}
    {% if form.talle.data %}
        {{ form.talle.data }}
    {% else %}
        Nuevo Post
    {% endif %}
{% endblock %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE CONTENIDOS -->
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col s12 m4 12"></div>
    <div class="col s12 m4 18 #fce4ec pink lighten-5"">
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <br>
                <br>
                {{ form.talle.label }}
                {{ form.talle(size=128) }}<br>
                <!-- LE MOSTRAMOS AL USUARIO EL ERROR DE VALIDACIÓN -->
                {% for error in form.talle.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <br>
            <div class="waves-effect waves-light btn">
                {{ form.submit() }}
            </div>
            <br>
        </form>
        <br>
        <br>
    </div>
    <div class="col s12 m4 12"></div>
</div>
<br>
<br>
<br>
<br>
<br>
   
    {% endblock %}